.img{
    border-radius: 10px;
    display: inline-block;
    margin-bottom: 30px;
   
}

.animate{
    animation: shake 0.5s ease-in 1s;
    
    
}

.fall{
    animation-name: fall;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
}


.display-4{
    display: inline-block;
    margin-left: 20px;
}

@keyframes fall {
    0% {
        transform: translateX(30px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }

    
}
@keyframes shake {
    0% {
        transform: translate(5px, 0px) rotate(10deg);
        
    }
    50% {
        transform: translate(0px, 5%) rotate(-10deg);
        
    }
    100%{
     transform:    translate(0%, 0%) rotate(0)
       
    }

    
}

